/* ADD YOUR STYLES HERE */
.noHeader {
	width: 780px;
}
.noHeader tr td, .noHeader tr th {
	width: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #D5D5D6;
}
.followerTable {
	border-bottom: 1px solid #D5D5D6;
	border-top: 1px solid #D5D5D6;
	width: 250px;

}
.followerTable tbody tr td {
	width: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}
.largeNumber {
	color: black;
	font-weight: bold;
	font-size: 32px;
}
.smallText {
	color: #D5D5D6;
	font-weight: bold;
	font-size: 10px;
}
.barGraph {
	width: 780px;
}
.barGraph tbody tr th {
	width: 100px;
	text-align: right;
}
.barGraph tbody tr td div {
	vertical-align: center;
	background-color: #6699FF;
	color: white;
	font-size: 12px;
	padding-left: 5px;
	height: 20px; 
	border: 3px solid #6699FF;
	border-radius: 5px;
}
.lightbox {
	width: 100%;
	height: 100%;
	position: fixed;
	display: none;
	background-color: black;
	background-color: rgba(0,0,0,0.7);
	top:0;
	right: 0;
}
.lightbox-alt {
	position: fixed;
	background-color: white;
	padding: 15px;
	border-radius: 7px;
	width: 600px;
	height: 200px;
	top: 25%;
	right: 25%;

}
.lightbox-alt div a {
	border-radius: 5px;
	background-color: #FFA8A8;
	color: white;
	text-align: center;
	width: 50px;
	padding: 10px;
	float: right;
}

.image {
	float: left;
	padding-right: 10px;

}
.image-2 {
	display: inline-block;
	padding-right: 10px;
	float: left;
}
.image-paragraph {
display: inline-block;
width: 700px;	
}
.image-paragraph-alt {
display: inline-block;
width: 650px;	
}